[submodule "bundle/cmake.vim-syntax"]
	path = bundle/cmake.vim-syntax
	url = https://github.com/vim-scripts/cmake.vim-syntax.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
