[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/vim-scripts/Auto-Pairs.git
[submodule "bundle/echofunc"]
	path = bundle/echofunc
	url = https://github.com/vim-scripts/echofunc.vim.git
[submodule "bundle/cmake.vim-syntax"]
	path = bundle/cmake.vim-syntax
	url = https://github.com/vim-scripts/cmake.vim-syntax.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
